
/***** Base style*****/
*{
	box-sizing: border-box;
	margin: 0;

}


h1 {
	text-align: center;
	margin-bottom: 20px;
}

div {
	background-color: grey;
	width: 30%;
	height: 100px;
	border: 1px solid black;
	margin-right: 4px;
	margin-left: 4px;

}


p{
	width: 60px;
	padding: 1px;
	margin-bottom: 5px;
	float: right;
	border: 1px solid black;
	text-align: center; 

}

#C {
	background-color: pink;

}

#B {
	background-color: tomato;
	color: white;
}

#S {
	background-color: yellow;
	
}

section {
	clear: both;
	margin: 5px;

}

title {
	text-align: right;
}

/***** Desktop *****/
@media (min-width: 992px) {
	div{
		float: left;
	}
}

	


/***** Ipad *****/
@media (min-width: 768px) and (max-width: 991px) {


	#CD{
		width: 50%
	}
	#BD{
		width: 50%
	}
	
	div#BD{
		position: relative;
		left: 50%;
		bottom: 100px;
		margin-left: 10px;
	}
	
	#SD{
		width: 100%

	}

	div#SD {
		position: relative;
		bottom: 100px;
		margin-top: 8px;
	}


}


/***** Iphone ****/
@media (max-width: 767px) {
	div {
		width: 100%;
		margin-bottom: 10px;
	}
}

